:root {
    --bg-col-1: #1D1D27;
    --bg-col-2: #c2744f;
    --bg-col-3: #49d1f5;
    --bg-col-4: #F7F7F7;
    --text-col-1: #1a667a;
    --text-col-2: #ccc;
    --text-col-3: #999;
    --text-col-4: #7fb1bf;
    --text-col-5: #e26712;
    --text-col-6: #505050;
    --text-col-7: #2dbce7;
    --text-col-8: #144d5d;
}

* {
    padding: 0;
    margin: 0;
}

html,
body {
  height: fit-content;
  overflow-x: hidden;
  padding: 0px !important;
}

a {
    text-decoration: none;
}


img {
    vertical-align: middle;
}

ul,
ol {
    list-style: none;
}

.tittle {
    color: #1a667a;
    font-size: x-large;

}

.wrap {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-block: 40px;
    background-color: #1a667a;
    text-align: center;
}

.wrap li{
    font-size: 35px;
    font-weight: 500;
    color: white;
}

.changing-text li {
  opacity: 0;
  transition: opacity 5s;
  display: none;
  list-style: none;
  padding: 0;
}

.changing-text li.active {
  display: block;
  opacity: 1;
}

.wrap .btn{
    border-radius: 0px;
    font-weight: 500;
    padding: 10px 20px;
    font-size: 18px;
    margin-left: 10px;
    border: none;
    text-transform: uppercase;
    color: #1a667a !important;
}

.wrap .btn:hover{
    background-color: transparent;
    color: white !important;
}

.wrap br{
    display: none;
}

*/

/* All Fonts Class Starts */
.font-pop-lig {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.font-pop-reg {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.font-pop-med {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.font-pop-sbld {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.font-pop-bld {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.font-pop-exbd {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}

.font-apl {
    font-family: 'Homemade Apple', cursive;
}

/* All Fonts Class Ends */


/*=====================
     Common css ends 
  ==================*/

/* Navbar Starts */

.navbar {
    max-height: 120px;
}

.navbar .dropdown:hover .dropdown-menu {
    display: block;
}

.navbar .dropdown .dropdown-menu {
    display: none;
}

.navbar .dropdown-toggle::after {
    display: none;
}

.navbar .logo {
    width: 70%;
}

.navbar .dropdown-menu {
    background-color: #1a667a;
    border-radius: 0px;
}

.navbar .navbar-toggler{
    outline: none;
    border: none;
    box-shadow: none;
}

.navbar-toggler span {
  display: block;
  background-color: #2dbce7;
  height: 3px;
  width: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  left: 0;
  opacity: 1;
  transition: all 0.35s ease-out;
  transform-origin: center left;
}

.navbar .navbar-toggler span:nth-child(1) {
  transform: translate(0%, 0%) rotate(0deg);
}

.navbar .navbar-toggler span:nth-child(2) {
  opacity: 1;
}

.navbar .navbar-toggler span:nth-child(3) {
  transform: translate(0%, 0%) rotate(0deg);
}

.navbar .navbar-toggler span:nth-child(1) {
  margin-top: 0.3em;
}

.navbar .navbar-toggler:not(.collapsed) span:nth-child(1) {
  transform: translate(15%, -33%) rotate(45deg);
}

.navbar .navbar-toggler:not(.collapsed) span:nth-child(2) {
  opacity: 0;
}

.navbar .navbar-toggler:not(.collapsed) span:nth-child(3) {
  transform: translate(15%, 33%) rotate(-45deg);
}

/* Navbar Ends */

/* Banner Section Starts  */

.banner {
    background: url(../images/banner-bg.jpg)no-repeat center / cover;
    padding-top: 115px;
    padding-bottom: 100px;
}

.banner h2 {
    font-size: 39px;
    line-height: 59px;
    margin-bottom: 32px !important;
}

.banner p {
    font-size: 20.8px;
    line-height: 31.2px;
    margin-bottom: 32px !important;
}

.banner .banner-top-input {
    margin-top: 12px;
    margin-bottom: 12px;
}

.banner .banner-top-input div {
    position: relative;
}

.banner .banner-top-input select {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: var(--text-col-1) !important;
    -webkit-box-shadow: 0 0 1px 0 #999;
    box-shadow: 0 0 1px 0 #999;
    padding: 0 11.2px;
    -webkit-appearance: none;
    line-height: 54px;
}

.banner .banner-top-input select option {
    color: var(--text-col-2);
}

.banner .banner-top-input i {
    position: absolute;
    right: 25px;
    top: 50%;
    color: var(--text-col-3);
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}



.banner .banner-top-btn button {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    background-color: var(--bg-col-2);
    border: 3px solid #fff !important;
    padding: 23.2px 19.2px !important;
    font-size: 20.8px;
    transition: all 0.333s ease;
    -webkit-transition: all 0.333s ease;
    -o-transition: all 0.333s ease;
    -moz-transition: all 0.333s ease;
    -ms-transition: all 0.333s ease;
}


/* Banner Section Ends */

/* Sponser Section Starts */

.sponser {
    padding-top: 48px;
    padding-bottom: 38px;
}

.sponser .sponser-heading {
    padding-bottom: 70px;
}

.sponser .sponser-heading h2 {
    font-size: 39px;
    line-height: 58.5px;
    color: var(--text-col-1);
}

.sponser .sponser-middle {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 24px;
}



.sponser .sponser-middle .sponser-middle-item img {
    margin-bottom: 40px !important;
}

.sponser .sponser-middle .sponser-middle-item h2 {
    font-size: 39px;
    line-height: 58.5px;
    color: var(--text-col-4);
    margin-bottom: 27px !important;
}

.sponser .sponser-middle .sponser-middle-item.ora-col h2,
.sponser .sponser-middle .sponser-middle-item.ora-col p {
    color: var(--text-col-5);
}

.sponser .sponser-middle .sponser-middle-item p {
    font-size: 16.9px;
    line-height: 25.35px;
    color: var(--text-col-4);
}

.sponser .sponser-bottom {
    margin-top: 48px;
}

.sponser .sponser-bottom p {
    font-size: 16.9px;
    line-height: 25.35px;
    color: var(--text-col-2);
}

/* Sponser Section Ends */

/* Why Sponser Section Starts  */

.why-spon {
    background: url(../images/why-spon-bg.jpg)no-repeat center / cover;
    padding-top: 48px;
    padding-bottom: 36px;
}

.why-spon h2 {
    font-size: 39px;
    line-height: 58.5px;
    padding-bottom: 24px;
}

.why-spon p {
    font-size: 26px;
    line-height: 39px;
    margin-bottom: 70px !important;
}

.why-spon h4 {
    font-size: 26px;
    line-height: 39px;

}

/* Why Sponser Section Ends */

/* Ready Section Starts  */

.ready {
    padding-top: 48px;
    padding-bottom: 36px;
}

.ready h2 {
    font-size: 39px;
    line-height: 58.5px;
    color: var(--text-col-1);
    margin-bottom: 24px !important;
}

.ready p {
    font-size: 26px;
    line-height: 39px;
    color: var(--text-col-1);
}

/* Ready Section Ends */

/* Would Section Starts */

.would {
    background: url(../images/would-bg.jpg)no-repeat;
    background-size: cover;
    padding-top: 70px;
    padding-bottom: 60px;
}

.would .would-left img {
    border: 12px solid #fff;
    margin-right: 30px;
}


.would .would-right hr {
    margin-top: 39px;
    height: 0;
    margin-bottom: 24px;
    border: 0;
    border-bottom: 3px solid var(--bg-col-2);
    opacity: 1;

}

.would .would-right .would-right-top h2 {
    font-size: 39px;
    line-height: 58.5px;
    color: var(--text-col-1);
    margin-bottom: 15px !important;
}

.would .would-right .would-right-top p {
    font-size: 20.8px;
    line-height: 31.2px;
    color: var(--text-col-6);
    margin-bottom: 30px !important;
}

.would .would-right .would-right-top a {
    background: var(--bg-col-3);
    font-size: 23px;
    border: 3px solid #fff;
    line-height: 77px;
    padding: 0 40px;
}


.would .would-right .would-right-bottom h3 {
    font-size: 33.8px;
    line-height: 50.7px;
    color: var(--text-col-1);
    margin-bottom: 24px !important;
}

.would .would-right .would-right-bottom form {
    padding-right: 110px;
}

.would .would-right .would-right-bottom form .row {
    margin-bottom: 12px;
}

.would .would-right .would-right-bottom form .row .col {
    position: relative;
}

.would .would-right .would-right-bottom select {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: var(--text-col-1) !important;
    -webkit-box-shadow: 0 0 1px 0 #999;
    box-shadow: 0 0 1px 0 #999;
    padding: 0 11.2px;
    /* -webkit-appearance: none; */
    line-height: 53px;
    font-size: 18px;
    background: var(--bg-col-4);
}

.would .would-right .would-right-bottom option {
    color: var(--text-col-2);
}

.would .would-right .would-right-bottom i {
    position: absolute;
    right: 25px;
    top: 50%;
    color: var(--text-col-3);
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}


.would .would-right .would-right-bottom button {
    font-size: 22.88px;
    border: 3px solid #fff;
    background: var(--text-col-1);
    padding: 0 36px;
    line-height: 77px;
}

/* Would Section Ends */

/* Involved Section Starts */

.involved {
    padding-top: 48px;
}

.involved .container {
    padding-bottom: 100px;
    border-bottom: 3px solid var(--bg-col-2);
}


.involved .involved-heading h2 {
    font-size: 39px;
    line-height: 58.5px;
    color: var(--text-col-1);
    margin-bottom: 84px !important;
}


.involved .involved-card .involved-card-item img {
    margin-bottom: 40px;
}

.involved .involved-card .involved-card-item h3 {
    font-size: 33.8px;
    line-height: 50.7px;
    color: var(--bg-col-3);
    margin-bottom: 30px !important;
}

.involved .involved-card .involved-card-item h3 span {
    color: var(--text-col-5);
}

.involved .involved-card .involved-card-item p {
    font-size: 20.8px;
    line-height: 31.2px;
    color: var(--text-col-6);
}

.involved .involved-card .involved-card-item p span {
    color: var(--text-col-7);
    text-decoration: underline;
}

/* Involved Section Ends */

/* PROGRAM Section Starts  */

.program {
    padding-top: 60px;
    padding-bottom: 50px;
}

.program .program-heading h2 {
    font-size: 39px;
    line-height: 58.5px;
    color: var(--text-col-1);
    margin-bottom: 40px !important;
}


.program .program-content .program-content-right h4 {
    font-size: 33.8px;
    line-height: 50.7px;
    color: var(--text-col-1);
    margin-bottom: 32px !important;
}


.program .program-content .program-content-right ul li a {
    font-size: 20.8px;
    line-height: 31.2px;
}

/* PROGRAM Section Ends */

/* Join Us Section Starts */

.join-us {
    padding-bottom: 24px;
}

.join-us .container {
    padding-top: 30px;
    border-top: 3px solid var(--bg-col-2);
}

.join-us h3 {
    font-size: 26px;
    line-height: 39px;
    color: var(--text-col-1);
    margin-right: 20px;
}


.join-us ul li {
    margin-right: 30px;
}

.join-us ul li:last-child {
    margin-right: 0;
}

.join-us ul li a {
    color: var(--text-col-1);
    font-size: 40px;
}

.join-us ul li i:hover {
    color: var(--text-col-7);
}

/* Join Us Section Ends */

/* Footer Section Starts  */

.footer {
    background: var(--text-col-1);
    padding-top: 38px;
    padding-bottom: 93px;
}

.footer .footer-image {
    margin-bottom: 17px;
}

.footer .footer-image ul li {
    margin-right: 20px;
}

.footer .footer-image ul li:last-child {
    margin-right: 0;
}

.footer .footer-image img {
    width: 70px;
}


.footer .footer-text h3 {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 9px !important;
}

.footer .footer-text p {
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 14px !important;
}


.footer .copyright-text p {
    color: var(--text-col-8);
    font-size: 10px;
    line-height: 14px;
}

/* Media query for mobile devices (up to 767px wide) */
@media (max-width: 767px) {
    .footer {

        padding: 15px;
        font-size: 14px;
    }
}

/* Footer Section Ends */